<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test"
               status="INFO">
    <Properties>

    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingLog" fileName="log/HCPlayerLog-current.log" append="true"
                     filePattern="log/HCPlayerLog_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss:ms} %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <!--quantity of log files?-->
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="log4j.test.Log4jTest" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="RollingLog"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>